<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lutzenberger.sascha.swandata" >

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.lutzenberger.sascha.settings.SettingsActivity"
            android:label="@string/settings"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".DisplaySwanCodesList"
            android:label="@string/title_activity_display_swan_codes_list"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".DisplaySwanDataList"
            android:label="@string/title_activity_display_swan_data_list"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".DisplaySwanData"
            android:label="@string/title_activity_display_swan_data"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".DisplaySwanCode"
            android:label="@string/title_activity_display_swan_code"
            android:screenOrientation="portrait">
        </activity>
    </application>

</manifest>
